<!-- Main Container -->
<div class="sample-pack-container">

  <!-- Title -->
  <h2>Sample Packs</h2>
  <div class="sample-pack-upload">
    <button class="upload-btn" routerLink="../upload"><img src="assets/images/productions/upload-simple.svg" alt="Upload Icon" class="icon-upload">Upload Sample Pack</button>
  </div>

  <!-- Sample Pack - List -->
  <div class="sample-pack-list">
    <!-- Sample Pack - Loop Start-->
    <div class="sample-pack" *ngFor="let samplepack of samplePacks">
      <!-- Image -->
      <div class="sample-pack-cover">
        <img src="{{samplepack.coverImageUrl}}" alt="Sample Pack Cover">
      </div>
      <!-- Title -->
      <div class="sample-pack-title">
        <h3>{{samplepack.title}}</h3>
      </div>
      <!-- Price, Wishlist, Shopping List -->
      <div class="sample-pack-shop">
        <!-- Price -->
        <p class="price-text">{{samplepack.price | currency: 'EUR'}}</p>
        <!-- Wishlist -->
        <button class="sample-pack-button"><img src="assets/images/icons/navbar/heart.svg" alt="Add to wishlist icon" class="button-icon"></button>
        <!-- Add to cart -->
        <button class="sample-pack-button">Add to Cart</button>
      </div>
    </div>
    <!-- Sample Pack - Loop End-->


  </div>
</div>
