
<div>
<h2>Shopping Cart</h2>
</div>

<div class="shopping-bag">

  <div class="cart">
    <div class="cart-header">
      <div class="product-header">Items</div>
    </div>

    <!-- Loop Start -->
    <div class="cart-item">
      <img src="assets/images/favicon/hvfavicon.jpeg" alt="Product Image">
      <div class="product-name">Title</div>
      <div class="product-description">License</div>
      <div class="price">1.000€</div>
      <div class="delete">X</div>
    </div>
    <!-- Loop End -->
  </div>

  <div class="order-summary">
    <h2>Order Summary</h2>
    <div class="summary-line"><span>Total</span><span>1000€</span></div>
    <button class="checkout-button">Process Order</button>
    <button class="continue-shopping">Continue Shopping</button>
  </div>
</div>
