<div>
<h2>Shopping Cart</h2>
</div>

<div class="shopping-bag">

  <div class="cart">
    <div class="cart-header">
      <div class="product-header">Items</div>
    </div>

    <div *ngIf="cartItems.length === 0">
      <p>Your shopping cart is empty.</p>
    </div>

    <!-- Loop Start -->
    <div class="cart-items" *ngIf="cartItems.length > 0">
      <div class="cart-item" *ngFor="let item of cartItems">
        <img [src]="item.coverImage" alt="Product Image" class="item-image">
        <div class="item-details">
          <div class="item-title">{{ item.title }}</div>
          <div class="item-type">{{ item.itemType }} {{ item.licenseType ? '(' + item.licenseType + ')' : '' }}</div>
          <div class="item-price">€{{ item.price }}</div>
        </div>
        <div class="item-remove" (click)="removeItem(item.id)">X</div>
      </div>
    </div>
    <!-- Loop End -->
  </div>

  <div class="order-summary">
    <h2>Order Summary</h2>
    <div class="summary-line"><span>Total</span><span>{{ total | currency: 'EUR' }}</span></div>
    <button class="checkout-button" (click)="processOrder()">Process Order</button>
    <button class="continue-shopping">Continue Shopping</button>
  </div>
</div>
