<!-- Main Container -->
<main class="about">

  <!-- Text Area -->
  <div class="about-section">

    <!-- Title -->
    <h2>About</h2>

    <!-- Description -->
    <p>Hybridvision is a music production company based in the South of Luxembourg.
      Our team comprises skilled music producers and sound engineers, committed to delivering
      high-quality services tailored to your needs.
      From beat-making to mastering or even vocal recording, we offer a range of professional services to help you bring
      your musical ideas to life.
      Whether you're a budding musician or an established artist, we're here to support and
      collaborate with you every step of the way.</p>
  </div>

  <!-- Images -->
  <div class="gallery-section">
    <h2>Gallery</h2>
    <img src="assets/images/studio/1.jpg" alt="Music Studio picture from the front">
    <img src="assets/images/studio/7.jpg" alt="Music studio picture from a 45degree angle">
    <img src="assets/images/studio/3.jpg" alt="Focal Twin studio Monitors">
    <img src="assets/images/studio/8.jpeg" alt="Neulmann Tlm-103 Vocal Recording Microphone">
    <img src="assets/images/studio/5.jpg" alt="DJ Setup with a pair of pioneer cdj-2000 and a djm-900">
    <img src="assets/images/studio/6.jpg" alt="DJ Setup with a pair of technics turntables and a DJM S-9">
  </div>

  <!-- Studio Gear -->
  <div class="gear-section">
    <h2>Studio Gear</h2>
    <ul>
      <li>Ableton 11 (Daw)</li>
      <li>Focal Twin 6be</li>
      <li>Apollo x6 (Audio Interface)</li>
      <li>Beyerdynamic DT-1990 Pro (Headphones)</li>
      <li>Audio-Technica ATH-M50X (Headphones)</li>
      <li>Neuman TLM 103 (Microphone)</li>
      <li>Warm Audio WA-2A (Compressor)</li>
      <li>Warm Audio WA76 (Compressor)</li>
      <li>Warm Audio WA73-EQ (Preamp)</li>
      <li>Neuman TLM 103 Microphone</li>
    </ul>
  </div>

  <!-- DJ Gear -->
  <div class="gear-section">
    <h2>DJ Gear</h2>
    <ul>
      <li>2x Pioneer CDJ-3000</li>
      <li>4x Pioneer CDJ-2000 NXS </li>
      <li>3x Pioneer DJM-900</li>
      <li>1x Pioneer DJM S11</li>
      <li>1x Pioneer DJM S7</li>
      <li>4x Technics SL-1210</li>
    </ul>
  </div>

</main>
