/* Title */
h2{
  font-family: 'Drukwide', sans-serif;
  font-size: 20px;
}

/* Description and Gear Font */
p, li{
  font-family: Sequel,sans-serif;
  font-size: 12px;
}

/* Section alignments */
.about-section, .gallery-section, .gear-section {
  width: 75%;
  margin: 2em auto 0;
  text-align: center;
}

/* Images */
.gallery-section img {
  width: 400px;
  border-radius: 10px;
  margin: 5px;
  transition: 0.05s;
}

/* Remove UL Padding */
.gear-section ul {
  padding: 0;
}

/* Gear list spacing, alignment and decoration */
.gear-section ul li {
  list-style-type: none;
  margin: 10px 0;
  text-align: center;
}
