<h2>Production</h2>

<div class="music-player">
  <div class="column-title">

  </div>

  <div class="song-container">
    <div class="song-artwork">
      <img src="assets/placeholder/blueCoverImage.webp" alt="Song Artwork" class="cover-artwork">
    </div>
    <div class="song-details">
      <div class="song-title">Song Title</div>
      <div class="song-category">Genre</div>
      <div class="song-length">03:12</div>
      <div class="song-bpm">156 BPM</div>
    </div>
    <div class="song-actions">
      <div class="wishlist-icon"><button class="music-player-buttons"><img src="assets/images/icons/navbar/heartIcon.svg" alt="Add to Wishlist" class="music-player-icons"></button></div>
      <div class="shopping-icon"><button class="music-player-buttons">Add to cart<img src="assets/images/icons/navbar/shoppingCartIcon.svg" class="music-player-icons" alt="Purchase"></button></div>
    </div>
  </div>

  <div class="song-container">
    <div class="song-artwork">
      <img src="assets/placeholder/blueCoverImage.webp" alt="Song Artwork" class="cover-artwork">
    </div>
    <div class="song-details">
      <div class="song-title">Song Title</div>
      <div class="song-category">Genre</div>
      <div class="song-length">03:12</div>
      <div class="song-bpm">156 BPM</div>
    </div>
    <div class="song-actions">
      <div class="wishlist-icon"><button class="music-player-buttons"><img src="assets/images/icons/navbar/heartIcon.svg" alt="Add to Wishlist" class="music-player-icons"></button></div>
      <div class="shopping-icon"><button class="music-player-buttons">Add to cart<img src="assets/images/icons/navbar/shoppingCartIcon.svg" class="music-player-icons" alt="Purchase"></button></div>
    </div>
  </div>
</div>
