<h2>Production</h2>

<div class="filter-container">
  <div class="filter-input">
    <input type="text" placeholder="Search by title">
    <select>
      <option value="all">All Genres</option>
      <option value="rock">Trap</option>
      <option value="pop">Drill</option>
      <option value="jazz">Latin</option>
    </select>
  </div>
</div>



<div class="music-player">
  <div class="column-title">
    <h3></h3>
    <h3>Title</h3>
    <h3>Genre</h3>
    <h3>Duration</h3>
    <h3>Bpm</h3>
    <h3></h3>
  </div>

  <div class="song-container">
    <div class="song-artwork">
      <img src="assets/placeholder/blueCoverImage.webp" alt="Song Artwork" class="cover-artwork">
    </div>
    <div class="song-details">
      <div class="song-title">Song Title</div>
      <div class="song-category">Genre</div>
      <div class="song-length">03:12</div>
      <div class="song-bpm">156 BPM</div>
    </div>
    <div class="song-actions">
      <div class="wishlist-icon"><button class="music-player-buttons"><img src="assets/images/icons/navbar/heartIcon.svg" alt="Add to Wishlist" class="music-player-icons"></button></div>
      <div class="shopping-icon"><button class="music-player-buttons">Add to cart<img src="assets/images/icons/navbar/shoppingCartIcon.svg" class="music-player-icons" id="cart-btn-icon" alt="Purchase"></button></div>
    </div>
  </div>
</div>

<div class="license-section">
  <div class="license">
    <h3>Basic License</h3>
    <h4>24.95 €</h4>
    <ul>
      <li>Untagged MP3</li>
      <li>500 Copies</li>
      <li>100,000 Audio Streams</li>
      <li>100,000 Non-Monetized Video Streams</li>
      <li>No Radio Play</li>
    </ul>
    <button class="license-btn">READ LICENSE</button>
  </div>

  <div class="license">
    <h3>Premium License</h3>
    <h4>49.95 €</h4>
    <ul>
      <li>Untagged MP3 + WAV</li>
      <li>5.000 Copies</li>
      <li>250.000 Audio Streams</li>
      <li>250.000 Non-Monetized Video Streams</li>
      <li>Radio & Digital Streaming Allowed</li>
    </ul>
    <button class="license-btn">READ LICENSE</button>
  </div>

  <div class="license">
    <h3>Trackout License</h3>
    <h4>99.95 €</h4>
    <ul>
      <li>Untagged MP3 + WAV + Stems</li>
      <li>10.000 Copies</li>
      <li>500,000 Audio Streams</li>
      <li>500,000 Non-Monetized Video Streams</li>
      <li>Radio & Digital Streaming Allowed</li>
    </ul>
    <button class="license-btn">READ LICENSE</button>
  </div>

  <div class="license">
    <h3>Unlimited License</h3>
    <h4>199.95 €</h4>
    <ul>
      <li>Untagged MP3 + WAV + Stems</li>
      <li>Unlimited Copies</li>
      <li>Unlimited Audio Streams</li>
      <li>Unlimited Non-Monetized Video Streams</li>
      <li>Radio & Digital Streaming Allowed</li>
    </ul>
    <button class="license-btn">READ LICENSE</button>
  </div>

  <div class="license">
    <h3>Exclusive License</h3>
    <h4>1000.00 €</h4>
    <ul>
      <li>Beat Taken Down</li>
      <li>50/50 Publishing Splits</li>
      <li>Unlimited Copied</li>
      <li>Unlimited Monetized Video Streams</li>
      <li>Radio & Digital Streaming Allowed</li>
    </ul>
    <button class="license-btn">READ LICENSE</button>
  </div>

  <!-- Repeat similar structure for other license options -->
</div>
