<!-- Main Container -->
<div class="sample-pack-container">

  <!-- Title -->
  <h2>Sample Packs</h2>

  <!-- Sample Pack - List -->
  <div class="sample-pack-list">
    <!-- Sample Pack - Loop Start-->
    <div class="sample-pack">
      <!-- Image -->
      <div class="sample-pack-cover">
        <img src="assets/placeholder/pack1.jpg" alt="Sampl Pack Cover">
      </div>
      <!-- Title -->
      <div class="sample-pack-title">
        <h3>HV - Essentials Vol.1</h3>
      </div>
      <!-- Price, Wishlist, Shopping List -->
      <div class="sample-pack-shop">
        <!-- Price -->
        <p class="price-text">29.99 €</p>
        <!-- Wishlist -->
        <button class="sample-pack-button"><img src="assets/images/icons/navbar/heart.svg" alt="Add to wishlist icon" class="button-icon"></button>
        <!-- Add to cart -->
        <button class="sample-pack-button">Add to Cart</button>
      </div>
    </div>
    <!-- Sample Pack - Loop End-->

    <!-- Sample Pack -->
    <div class="sample-pack">
      <div class="sample-pack-cover">
        <img src="assets/placeholder/pack3.jpg" alt="Sampl Pack Cover">
      </div>
      <div class="sample-pack-title">
        <h3>HV - Essentials Vol.2</h3>
      </div>
      <div class="sample-pack-shop">
        <p class="price-text">29.99 €</p>
        <button class="sample-pack-button"><img src="assets/images/icons/navbar/heart.svg" alt="Add to wishlist icon" class="button-icon"></button>
        <button class="sample-pack-button">Add to Cart</button>
      </div>
    </div>

    <!-- Sample Pack -->
    <div class="sample-pack">
      <div class="sample-pack-cover">
        <img src="assets/placeholder/pack5.jpg" alt="Sampl Pack Cover">
      </div>
      <div class="sample-pack-title">
        <h3>HV - Essentials Vol.3</h3>
      </div>
      <div class="sample-pack-shop">
        <p class="price-text">29.99 €</p>
        <button class="sample-pack-button"><img src="assets/images/icons/navbar/heart.svg" alt="Add to wishlist icon" class="button-icon"></button>
        <button class="sample-pack-button">Add to Cart</button>
      </div>
    </div>

    <!-- Sample Pack -->
    <div class="sample-pack">
      <div class="sample-pack-cover">
        <img src="assets/placeholder/pack4.png" alt="Sampl Pack Cover">
      </div>
      <div class="sample-pack-title">
        <h3>HV - Essentials Vol.4</h3>
      </div>
      <div class="sample-pack-shop">
        <p class="price-text">29.99 €</p>
        <button class="sample-pack-button"><img src="assets/images/icons/navbar/heart.svg" alt="Add to wishlist icon" class="button-icon"></button>
        <button class="sample-pack-button">Add to Cart</button>
      </div>
    </div>


  </div>
</div>
