p, li{
  font-family: Sequel,sans-serif;
  font-size: 12px;
}
h2{
  font-family: 'Drukwide', sans-serif;
}
/* Section Styling */
.about-section, .gallery-section, .gear-section {
  width: 75%;
  margin: 2em auto 0;
  text-align: center;
}

/* Gallery Styles */
.gallery-section img {
  width: 400px;
  border-radius: 10px;
  margin: 5px;
}

/* Gear List Styles */
.gear-section ul {
  list-style-type: none;
  padding: 0;
}

.gear-section ul li {
  margin: 10px 0;
}

.gear-section ul li:before {
  color: #007bff;
  font-size: 18px;
  margin-right: 10px;
}

.gear-section ul li {
  text-align: center;
}
