<main class="about">
  <div class="about-section">
    <h2>About</h2>
    <p>Hybridvision is a music production company based in the South of Luxembourg.
      Our team comprises skilled music producers and sound engineers, committed to delivering
      high-quality services tailored to your needs.
      From beat-making to mastering or even vocal recording, we offer a range of professional services to help you bring
      your musical ideas to life.
      Whether you're a budding musician or an established artist, we're here to support and
      collaborate with you every step of the way.</p>
  </div>
  <div class="gallery-section">
    <h2>Gallery</h2>
    <img src="assets/images/studio/1.jpg" alt="">
    <img src="assets/images/studio/7.jpg" alt="">
    <img src="assets/images/studio/2.jpg" alt="">
    <img src="assets/images/studio/3.jpg" alt="">
    <img src="assets/images/studio/4.jpg" alt="">
    <img src="assets/images/studio/8.jpeg" alt="">
    <img src="assets/images/studio/5.jpg" alt="">
    <img src="assets/images/studio/6.jpg" alt="">
  </div>
</main>
