.login-container {
  max-width: 500px;
  text-align: center;
  margin: 0 auto 100px;
}

.form input {
  padding: 10px;
  width: 80%;
  margin: 0 auto 10px;
  font-family: Sequel, sans-serif;
  font-size: 10px;
}

.form input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-btn {
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s;
}

.submit-btn:hover {
  transform: scale(1.01);
  text-decoration: underline;
}

.forgot-password {
  font-family: 'Sequel', sans-serif;
  font-size: 10px;
  color: #000000;
  margin-top: 5px;
  display: block;
  transition: 0.1s;
}

.forgot-password:hover {
  transform: scale(1.05);
  cursor: pointer;
}

h2 {
  font-family: 'Drukwide', sans-serif;
}

p{
  font-family: 'Sequel', sans-serif;
  font-size: 10px;
}

#signup-btn{
  color: black;
  transition: 0.1s;
}

#signup-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.error-message {
  font-family: 'Sequel', sans-serif;
  color: #EF3232;
  font-size: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
