<!-- Wishlist Container -->
<div class="wishlist-container">

  <!-- Title -->
  <h2>My Wishlist</h2>

  <!-- Wishlist Items List -->
  <div class="wishlist-items">
    <!-- Wishlist Item Loop Start -->
    <div class="wishlist-item" *ngFor="let item of wishlistItems">
      <!-- Image -->
      <div class="wishlist-item-cover">
        <img [src]="item.coverImage" alt="Wishlist Item Cover">
        <!-- Remove from Wishlist Button -->
        <button class="remove-from-wishlist" (click)="removeFromWishlist(item)">X</button>
      </div>
      <!-- Title -->
      <div class="wishlist-item-title">
        <h3>{{item.title}}</h3>
        <p>{{item.itemType}}</p>
      </div>
      <!-- Price and Add to Cart Button -->
      <div class="wishlist-item-actions">
        <!-- Price -->
        <p class="price-text">{{item.price | currency: 'EUR'}}</p>
        <!-- Add to Cart -->
        <button class="wishlist-item-button" (click)="addToCart(item)">Add to Cart</button>
      </div>
    </div>
    <!-- Wishlist Item Loop End -->
  </div>
</div>
