<main class="homepage">
  <div class="home-text">
    <!-- Title -->
    <h2>Unlock Your Sonic Potential with Hybridvision</h2>
    <h1>Your One-Stop Music Hub</h1>

    <!-- Description -->
    <p>Hybridvision is your premier destination for all things music, offering a comprehensive array of services to elevate your sound to new heights. Whether you're in search of captivating beats, premium sample packs, professional mastering,  vocal recording, or expert mixing, we have you covered.
      Join our community of passionate artists and immerse yourself in a world of limitless creativity. Let's sculpt your sonic vision together.
    </p>

    <!-- Button -->
    <button routerLink="/about" id="btn-discover">Discover more</button>
  </div>

  <!-- Image -->
  <div class="home-image">
    <img src="assets/images/home/homeImageAlternative.png" id="home-img">
  </div>
</main>
