<header class="header">
  <div class="header-content">
    <img src="assets/images/logos/Hv%20logo%20white.png" class="nav-logo">

    <nav class="nav-links">
      <ul class="nav-list">
        <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/services" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="/productions" class="nav-link">Productions</a></li>
        <li class="nav-item"><a href="/samplepacks" class="nav-link">Sample Packs</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
      </ul>
    </nav>

    <div class="nav-icons">
      <a href="#" class="icon-link"><img src="assets/images/icons/navbar/heartIcon.svg" alt="Wishlist Icon" class="nav-icon"></a>
      <a href="#" class="icon-link"><img src="assets/images/icons/navbar/shoppingCartIcon.svg" alt="Shopping Cart Icon" class="nav-icon"></a>
      <a href="#" class="icon-link"><img src="assets/images/icons/navbar/accountIcon.svg" alt="Account Icon" class="nav-icon"></a>
    </div>
  </div>
</header>
