<h2>Services</h2>

<div class="services-container">
  <div class="service-card">
    <div class="service-icon">
      <img src="assets/images/icons/service/pianoIcon.svg" alt="Production Icon">
    </div>
    <h2>Production</h2>
    <p>Professional production services for your music.</p>
  </div>
  <div class="service-card">
    <div class="service-icon">
      <img src="assets/images/icons/service/microphoneIcon.svg" alt="Recording Icon">
    </div>
    <h2>Vocal Recording</h2>
    <p>High-quality vocal recording sessions available.</p>
  </div>
  <div class="service-card">
    <div class="service-icon">
      <img src="assets/images/icons/service/slidersIcon.svg" alt="Mixing Icon">
    </div>
    <h2>Mix Mastering</h2>
    <p>Expert mixing and mastering services for your tracks.</p>
  </div>
</div>

<h2>Portfolio</h2>
