<!-- Main Container -->
<div>
  <!-- Title -->
  <h2>Services</h2>

  <!-- Card Container -->
  <div class="services-container">
    <!-- Custom Production -->
    <div class="service-card">
      <div class="service-icon">
        <img src="assets/images/icons/services/piano-keys.svg" alt="Production Icon">
      </div>
      <h3>Custom Productions</h3>
      <p>Elevate your music with our professional production services tailored to your style and vision.</p>
    </div>

    <!-- Vocal Recording -->
    <div class="service-card">
      <div class="service-icon">
        <img src="assets/images/icons/services/microphone.svg" alt="Recording Icon">
      </div>
      <h3>Vocal Recording</h3>
      <p>Capture the essence of your voice with our state-of-the-art vocal recording sessions, ensuring clarity and emotion in every note.</p>
    </div>

    <!-- Mix Mastering -->
    <div class="service-card">
      <div class="service-icon">
        <img src="assets/images/icons/services/faders.svg" alt="Mixing Icon">
      </div>
      <h3>Mix Mastering</h3>
      <p>Refine your sound with our expert mixing and mastering services, enhancing the balance, depth, and quality of your tracks.</p>
    </div>

    <!-- DJ & Production Lessons -->
    <div class="service-card">
      <div class="service-icon">
        <img src="assets/images/icons/services/headphones.svg" alt="Mixing Icon">
      </div>
      <h3>DJ & Production Lessons</h3>
      <p>Unlock your potential with personalized lessons from experienced DJs and producers, mastering the art of mixing, beatmatching, and production techniques.</p>
    </div>

    <!-- Audiovisual Equipment Rental -->
    <div class="service-card">
      <div class="service-icon">
        <img src="assets/images/icons/services/speaker-hifi.svg" alt="Mixing Icon">
      </div>
      <h3>Audiovisual Equipment Rental</h3>
      <p>Set the stage for success with our premium sound and lighting rental services, ensuring your event is heard and seen in the best possible light.</p>
    </div>

    <!-- Consulting -->
    <div class="service-card">
      <div class="service-icon">
        <img src="assets/images/icons/services/question.svg" alt="Mixing Icon">
      </div>
      <h3>Consulting</h3>
      <p>Professional consulting service to guide you in various aspects of the music industry, including business, technology and career development.</p>
    </div>
  </div>

  <div class="interested">
    <!-- Interested paragraph -->
    <p>Interested in one of our services?<br>
      Let's turn your musical vision into reality.<br>
      Contact us today to get started.
    </p>

    <!-- Contact Button -->
    <input type="button" routerLink="/contact" value="CONTACT">
  </div>
</div>
