h2{
  font-family: 'Drukwide', sans-serif;
  text-align: center;
}


.services-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.service-card {
  width: 350px;
  height: 250px;
  background-color: white;
  border: 1px solid #e1e1e1;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.service-card:hover {
  background-color: #e8e8e8;
}

.service-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.service-card h2 {
  margin-top: 0;
  overflow: hidden;
}

.service-card p {
  font-family: 'Sequel', sans-serif;
  font-size: 12px;
  margin-bottom: 0;
}

.interessted{
  font-family: 'Sequel', sans-serif;
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}
.interessted p{
  margin-bottom: 25px;
}

.interessted input{
  font-family: 'Sequel', sans-serif;
  background-color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.interessted input:hover{
  transform: scale(1.05);
  text-decoration: underline;
  cursor: pointer;

}
