/* Main Container */
.forgot-password-container {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

/* Title */
h2 {
  font-family: 'Drukwide', sans-serif;
}

/* Input & Button */
.form input,
.form button {
  padding: 10px;
  width: 80%;
  margin: 0 auto 10px;
  font-family: Sequel, sans-serif;
  font-size: 10px;
}

/* Input */
.form input {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline-color: black;
}

/* Button */
.submit-btn {
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s;
}

.submit-btn:disabled {
  opacity: 0.25;
}

.submit-btn:hover {
  transform: scale(1.01);
  text-decoration: underline;
}




/* Remember password? */
p {
  font-family: 'Sequel', sans-serif;
  font-size: 10px;
}

/* Login Button */
#login-btn {
  color: black;
}

#login-btn:hover {
  cursor: pointer;
}

/* Success Message */
.success-message {
  font-family: 'Sequel', sans-serif;
  color: #32ef3b;
  font-size: 12px;
}

/* Error Message */
.error-message {
  font-family: 'Sequel', sans-serif;
  color: #EF3232;
  font-size: 12px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

/* Error Icon */
.error-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
