<div class="forgot-password-container">

  <h2>Forgot Password</h2>

  <form class="form" [formGroup]="form" (ngSubmit)="sendResetEmail()">
    <input type="text" name="email" placeholder="*Email" formControlName="email">
    <div *ngIf="form.controls['email'].touched">
      <div *ngIf="form.controls['email'].errors?.['required']" class="error-message"><img src="assets/images/404/warning-circle.png" alt="Error Icon" class="error-icon">Email is required</div>
      <div *ngIf="form.controls['email'].errors?.['email']" class="error-message"><img src="assets/images/404/warning-circle.png" alt="Error Icon" class="error-icon">Invalid Email format</div>
    </div>

    <button type="submit" class="submit-btn" [disabled]="!form.valid" >SEND EMAIL</button>
  </form>

  <p>Remember your password? <a routerLink="../login" id="login-btn">Login</a></p>

  <div class="message-box">
    <div *ngIf="successMessage" class="message success-message">
      <img src="assets/images/404/check-circle.png" alt="Error Icon" class="error-icon">
      <span>{{ successMessage }}</span>
    </div>
    <div *ngIf="errorMessage" class="message error-message">
      <img src="assets/images/404/warning-circle.png" alt="Error Icon" class="error-icon">
      <span>{{ errorMessage }}</span>
    </div>
  </div>
</div>
