<!-- Main Container -->
<div class="forgot-password-container">
  <!-- Title -->
  <h2>Forgot Password</h2>

  <!-- Form -->
  <form class="form" [formGroup]="form" (ngSubmit)="sendResetEmail()">

    <!-- Email Input -->
    <input type="text" name="email" placeholder="*Email" formControlName="email">

    <!-- Error Message -->
    <div *ngIf="form.controls['email'].touched">
      <div *ngIf="form.controls['email'].errors?.['required']" class="error-message"><img src="assets/images/404/warning-circle.png" alt="Error Icon" class="error-icon">Email is required</div>
      <div *ngIf="form.controls['email'].errors?.['email']" class="error-message"><img src="assets/images/404/warning-circle.png" alt="Error Icon" class="error-icon">Invalid Email format</div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="submit-btn" [disabled]="!form.valid" >SEND EMAIL</button>
  </form>

  <!-- Login -->
  <p>Remember your password? <a routerLink="../login" id="login-btn">Login</a></p>

  <!-- Message Box -->
  <div class="message-box">

    <!-- Success Message -->
    <div *ngIf="successMessage" class="message success-message">
      <img src="assets/images/404/check-circle.png" alt="Error Icon" class="error-icon">
      <span>{{ successMessage }}</span>
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="message error-message">
      <img src="assets/images/404/warning-circle.png" alt="Error Icon" class="error-icon">
      <span>{{ errorMessage }}</span>
    </div>
  </div>
</div>
