/* Header Style */
.header {
  background-color: black;
  padding: 20px 0;
  font-family: 'Drukwide',sans-serif;
  font-size: 14px;
  position:fixed;
  width: 100%;
  top: 0%;
}

.header-content {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.nav-logo {
  width: 100px;
  height: auto;
}

/* Nav Links */
.nav-list{
  display: flex;
}
.nav-links ul {
  list-style-type: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Wishlist, Cart, Account */
.nav-icon {
  width: 25px;
  height: auto;
  filter: invert(1);
}
.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons .icon-link {
  margin-left: 20px;
  cursor: pointer;
}

.nav-icons .icon-link:last-child {
  margin-right: 0;
}

.hamburger{
  display: none;
  color: white;
  cursor: pointer;
}
.hamburger-icon{
  width: 30px;
}
.nav-links--open{
  transform: translateX(0);
}

.btn-login{
  background-color: black;
  margin-left: 50px;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid white;
}
.btn-login:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}



/* Mobile Styles */
@media (max-width: 1200px) {
  .nav-logo{
    width: 50px;
  }
  .header-content{
    width: 80%;
    margin: 0 auto;

  }
  .nav-links{
    position: fixed;
    top:60px;
    left: 0;
    background-color: black;
    width: 100%;
    transform: translateX(-100%);
  }
  .nav-list{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav-links.open{
    transform: translateX(0%);
  }
  .nav-item{
    font-size: 12px;
  }
  .show{
    display: none;
  }
  .hamburger{
    display: block;
  }

}
