<footer class="footer">
  <div class="footer-informations">
    <h2>Hybridvision Sarl-s</h2>
    <div class="company-information">
      <p>37 Cité Louis Blum<br>4034 Esch-sur-Alzette<br>Luxembourg</p>
      <p>Email: infohybrid-vision.com<br>Tva: LU31870888<br>Rcs: B239614</p>
    </div>
  </div>

  <div class="footer-links">
    <h2>Links</h2>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/productions">Productions</a></li>
      <li><a href="/samplepacks">Sample Packs</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

  <div class="footer-guidelines">
    <h2>Guidelines</h2>
    <ul>
      <li><a href="/licensing">Licensing Info</a></li>
      <li><a href="/termsofuse">Terms of Use</a></li>
      <li><a href="/policy">Privacy Policy</a></li>
      <li><a href="/faq">F.A.Q</a></li>
    </ul>
  </div>

  <div class="footer-news">
    <h2>Newsletter</h2>
    <div class="subscribe">
      <input type="email" placeholder="Enter your email..." id="newletter-input">
      <button id="subscribe-button">Subscribe</button>
    </div>
    <div class="get-in-touch">
      <h3>Get in touch</h3>
      <ul class="social-icons">
        <li><a href="https://instagram.com/hybridvisionstudios"><img src="assets/images/icons/footer/instagramIcon.png" alt="Instgram"></a></li>
        <li><a href="#"><img src="assets/images/icons/footer/xIcon.png" alt="Twitter"></a></li>
        <li><a href="https://www.youtube.com/@HybridVisionMusic"><img src="assets/images/icons/footer/youtubeIcon.png" alt="Youtube"></a></li>
      </ul>
    </div>
  </div>
</footer>
