<footer class="footer">
  <div class="footer-informations show">
    <h2>Hybridvision Sarl-s</h2>
    <div class="company-information">
      <p>37 Cité Louis Blum<br>4034 Esch-sur-Alzette<br>Luxembourg</p>
      <p>Email: info&#64;hybrid-vision.com<br>Tva: LU31870888<br>Rcs: B239614</p>
    </div>
  </div>

  <div class="footer-links show">
    <h2>Links</h2>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/productions">Productions</a></li>
      <li><a routerLink="/samplepacks">Sample Packs</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>

  <div class="footer-guidelines show">
    <h2>Guidelines</h2>
    <ul>
      <li><a routerLink="/licensing">Licensing Info</a></li>
      <li><a routerLink="/termsofuse">Terms of Use</a></li>
      <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
      <li><a routerLink="/faq">F.A.Q</a></li>
    </ul>
  </div>

  <div class="footer-news show">
    <h2>Newsletter</h2>
    <div class="subscribe">
      <input type="email" placeholder="Enter your email..." id="newletter-input">
      <button id="subscribe-button">Subscribe</button>
    </div>
    <div class="get-in-touch">
      <h3>Get in touch</h3>
      <ul class="social-icons">
        <li><a href="https://instagram.com/hybridvisionstudios" target="_blank"><img src="../../../assets/images/icons/footer/instagramIcon.png" alt="Instgram Icon"></a></li>
        <li><a href="#"><img src="../../../assets/images/icons/footer/xIcon.png" target="_blank" alt="X Icon"></a></li>
        <li><a href="https://www.youtube.com/@HybridVisionMusic" target="_blank"><img src="../../../assets/images/icons/footer/youtubeIcon.png" alt="Youtube Icon"></a></li>
      </ul>
    </div>
  </div>
  <div class="mobile-footer">
    &copy; 2024 Hybridvision
  </div>
</footer>
